.second-header.desktop-none
  %ul{ class: "second-header__icon-area" }
    %li{ class: "second-header__icon-area__calendar-area" }
      = link_to image_tag('header/calendar.png'), ''
    %li{ class: "second-header__icon-area__latest-memos-area" }
      = link_to image_tag('header/latest-memos.png'), ''
.wrapper
  .outline
    .content
      .content__index-sub-menu.mobile-none
        .content__index-sub-menu__latest-memos-area
          ・非同期編集(formdataの中身が空っぽい)<br><br>
          ・deleteボタン押すとalertでるけど、noという選択肢がない<br><br>
          ・非同期で追加したアイデアのdeleteボタンの挙動直す
        .content__index-sub-menu__calendar-area
      .content__main.non-border.non-padding
        = form_for @idea, html: { class: "content__main__writing-area" } do |f|
          .content__main__writing-area__title-area
            .content__main__writing-area__title-area__square.square
            = f.text_field :title, class: "content__main__writing-area__title-area__title form-decoration", placeholder: "タイトル"
          .content__main__writing-area__body-area
          = f.text_area :body, class: "content__main__writing-area__body-area__body form-decoration", placeholder: "内容"
          .content__main__writing-area__btn-area
            = f.submit "保存", class: "content__main__writing-area__btn-area__btn btn btn-main full-width-btn"
        %ul{ class: "content__main__memos-area" }
          = render @ideas
