.second-header.desktop-none#second-head
  %ul{ class: "second-header__icon-area" }
    %li{ class: "second-header__icon-area__latest-memos-area" }
      = link_to image_tag('header/latest-memos.png'), ''
    %li{ class: "second-header__icon-area__calendar-area" }
      = link_to image_tag('header/calendar.png'), ''
  %ul{ class:'second-header__latest-memos-area', id: 'latest-memos-area' }
    .second-header__latest-memos-area__area-title-area
      %h3{class: 'second-header__latest-memos-area__area-title-area__title'}最近の思考
    = render partial: 'side-bar/latest_idea_mobile', collection: @latest_ideas, locals: { per: @per }
  .second-header__calendar-area.calendar-area
    = render partial: 'side-bar/calendar_mobile'
.wrapper
  .outline.idea-index-outline
    .content
      .content__index-sub-menu.mobile-none
        %ul{ class: 'content__index-sub-menu__latest-memos-area' }
          .content__index-sub-menu__latest-memos-area__area-title-area
            .square
            %h3{ class: 'content__index-sub-menu__latest-memos-area__area-title__area-title' }最近の思考
          = render partial: 'side-bar/latest_idea_desktop', collection: @latest_ideas, locals: { per: @per }
        .content__index-sub-menu__calendar-area.calendar-area
          = render partial: 'side-bar/calendar_desktop', locals: { per: @per, all_ideas: @all_ideas}
      .content__main.non-border.non-padding
        = form_for @idea, html: { class: "content__main__writing-area" } do |f|
          .content__main__writing-area__title-area
            .content__main__writing-area__title-area__square.square
            = f.text_field :title, class: "content__main__writing-area__title-area__title form-decoration", placeholder: "タイトル"
          .content__main__writing-area__body-area
          = f.text_area :body, class: "content__main__writing-area__body-area__body form-decoration", placeholder: "内容"
          .content__main__writing-area__btn-area
            = f.submit "保存", class: "content__main__writing-area__btn-area__btn btn btn-main full-width-btn"
        %ul{ class: "content__main__memos-area" }
          = render @ideas
          = paginate @ideas, window: 2
