.wrapper
  .outline
    .content.sign-up-and-in
      .content__left
      .content__right
        %h3 アカウント新規作成
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .field
            = f.label :アカウント名
            %br
            = f.text_field :name, autofocus: true
          .field
            = f.label :メールアドレス
            %br/
            = f.email_field :email
          .field
            = f.label :パスワード
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "off"
          .field
            = f.label :パスワード（確認）
            %br/
            = f.password_field :password_confirmation, autocomplete: "off"
          .actions
            = f.submit "新規作成"
        = render "devise/shared/links"
